* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #23252C;
  color: #DCDCDC;
}

.card {
  min-width: 320px;
  max-width: 500px;
  background-color: #1A1B21;
  margin: 90px auto 0 auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
